.slider img{
    width: 100%;
}

.miniatures div{
    width: 100px;
}

.miniatures img{
    width: 100%;
}

/****************************************/
.selection{
	overflow: hidden;
}
.choix div{
	position: relative;
	left: 150%;
}

/*.sandwich, .pizza, .burger{
    display: none;
}*/